gcc==14.1.1
gcc-c++
rust
python==3.11.6
zsh
cmake
git
gdb
python3-{hypothesis,psutil,pyyaml,requests,sympy,filelock,networkx,jinja2,fsspec,packaging,numpy}
python3-devel
openssl-devel
expecttest 
types-dataclasses 
lark 
optree
torch==2.3.0
cargo
transformers
sentencepiece
accelerate>=0.26.0
